.container {
  margin-top: 30px;
}

.paper {
  padding: 50px;
  height: 40%;
  width: 600px;
  margin: 50px auto;
}

.avatar {
  background-color: #328095;
}

.flexContainer > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
}

.icon {
  cursor: pointer;
}
